[WEIGHTS]
pearson_weight = 9
hoh_weight = 9
shared_count_weight = 6
global_user_avg_diff_weight = 0.5
user_avg_diff_weight = 1
shared_10s_weight = 5

[USERNAME]
username = brettyoshi9

[OPTIONS]

# False if you want to not calculate already known low scoring users
calculate_all = True

# if 50, only check the starts on every 50th user to go faster. 1 to check all users
every_n_users = 1 

# Must be in the /DataSets folder
users_file = hyougotou_following.csv